@import "tailwindcss";

:root {
  /* App colors */
  --bg: #181818;
  --text: #ffffff;
  --muted: #aaaaaa;
  --hover: #3d3d3d;
  --lightbg: #303030;
}

/* Optional: light theme override */


/* Tailwind v4 theme tokens */
@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
  --color-muted: var(--muted);
  --color-lightbg: var(--lightbg);
  --color-hover: var(--hover);
}

/* Base styles */
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
